.rowLogin{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
}
.formLogin input, button{
    margin:5px;
}
.textCenter{
  display: flex;
  justify-content: center;
}
.sidebar{
  width: 20%;
  background-color:#4682B4 ;
  height: 100%;
  position: fixed;
}
.sidebar ul {
  list-style: none;
  padding-left: 0%;
}
.sidebar ul li {
  background-color:#708090;
  margin-left: 0pt;
  border: 1px solid gray;
  padding-left: 5%;
  cursor: pointer;
}
.sidebar ul a{
  text-decoration: none;
  font-size: 16pt;
  font-family: Verdana, sans-serif;
  color: white;
  
}
.sidebar ul a:hover{
  color:yellow
}